*::-webkit-input-placeholder {
	color: #2A3848;
	opacity: 0.4;
}
*:-moz-placeholder {
	color: #2A3848;
	opacity: 0.4;
}
*::-moz-placeholder {
	color: #2A3848;
	opacity: 0.4;
}
*:-ms-input-placeholder {
	color: #2A3848;
	opacity: 0.4;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Montserrat";
	font-size: 14px;
	line-height: 24px;
	overflow-x: hidden;
	margin: 0;
	color: #2A3848;
	background-color: #fff;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {

}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
	li {
		list-style-type: none;
		outline: none;
	}
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
h1,
h2,
.title-section {
	font-size: 36px;
	line-height: 44px;
	font-weight: 600;
	letter-spacing: -0.02em;
	padding-bottom: 40px;
	padding-top: 40px;
}
h3,
.title-middle {
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	letter-spacing: -0.02em;
}
.btn-main {
	font-size: 14px;
	line-height: 20px;
	height: 44px;
	padding: 0 24px;
	font-weight: 500;
	background-color: #E5E9F2;
	border-radius: 14px;
	color: #2A3848;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
	font-family: "Montserrat";
	border: none;
	&:hover {
		background-color: #EBD993;
	}
}